*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
    width: 100vw;
}


/* font-family: 'Cairo', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Aclonica', sans-serif;
font-family: 'Vollkorn', serif; */


/* N A V */

.navBar{
    width: 100vw;
    height: 45px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 4;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 20px 20px 20px 20px rgba(0,0,0,0.3), 15px 15px 15px 15px rgba(0,0,0,0.5);
}
/* .navBar .logo{
    color: orange;
    margin-left: 25px;
    text-shadow: 1px 1px 1px rgb(66, 66, 66);
    font-family: 'Poppins', sans-serif;
} */
.navBar .logo{
    width: 155px;
    height: 50px;
    margin-left: 25px;

}
.navBar ul{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
}
.navBar ul a{
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 13px;
    color: rgb(133, 133, 133);
    font-family: 'Poppins', sans-serif;
    transition: all ease-in-out 0.3s;
}
.navBar ul a:hover{
    color: rgba(255, 166, 0, 0.938);
    font-size: 17px;
}
.navBar ul .loginIcon{
    width: 38px;
    height: 38px;
    margin: 0px 10px 0px 20px;
    padding: 0px;
    color: rgb(196, 196, 196);
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navBar ul .loginIcon:hover{
    color: rgba(255, 166, 0, 0.938);
    font-size: 30px;
}


/* N A V B A R 2 */
.navBar2{
    z-index: 4;
    width: 100vw;
    height: 45px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 20px 20px 20px 20px rgba(0,0,0,0.3), 15px 15px 15px 15px rgba(0,0,0,0.5);
}
.navBar2 .logo2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navBar2 .logo2 img{
    width: 155px;
    height: 50px;
    margin-right: 10%;
}
.menuBars{
    color: rgb(196, 196, 196);
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 5;
    transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.1s;
}
.menuBars:hover{
    font-size: 35px;
    color: orange;
    top: -5px;
    left: 20px;
}
#sliderMenu{
    margin: 0;
    width: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3;
    height: calc(100vh - 45px);
    background-color: rgb(255, 255, 255);
    transition: cubic-bezier(0.06, 0.96, 0.6, 1.47) 0.4s;
}
#sliderMenu.active{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menuItems{
    display: none;
}
#menuItems.active a{
    color: rgba(122, 122, 122, 0.747);
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 3px;
    transition: ease-in-out 0.15s;
}
#menuItems.active a:hover{
    color: rgba(255, 166, 0, 0.87);
    font-size: 25px;
}
#menuItems.active a:before{
    content: "";
    position: absolute;
    top: 110%;
    left: 0;
    width: 0%;
    height: 2px;
    border-bottom: 2px solid rgba(255, 166, 0, 0.87);
    transition: linear all 0.4s;
}
#menuItems.active a:hover:before{
    width: 100%;
}
#menuItems.active{
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


/* M E D I A   Q U E R Y   N A V B A R*/
@media only screen and (min-width: 655px){
    .navBar2{
        display: none;
    }
    #sliderMenu{
        display: none !important;
    }
}
@media only screen and (max-width: 1000px){
    .navBar ul{
        width: 60%;
    }
}
@media only screen and (max-width: 655px){
    .navBar{
        display: none;
    }
}




/* C A R O U S E L */

#carouselBox{
    width: 100%;
    max-height: 425px;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
#carouselBox .screenBlack{
    z-index: 1;
    width: 100%;
    background: linear-gradient(rgba(245, 241, 4, 0.507), rgba(243, 159, 4, 0.541), rgba(0, 0, 0, 0.671));
}
.carousel-indicators{
    z-index: 1;
}

 @media only screen and (min-width: 1155px){
    .carousel-control-next {
        right: 0;
        top: -250px;
    }
    .carousel-control-prev {
        left: 0;
        top: -250px;
    }
}
@media only screen and (min-width: 660px){
    .carousel-indicators{
        bottom: 30px;
    }
} 
@media only screen and (min-width: 702px){
    .carousel-indicators{
        bottom: 50px;
    }
} 
@media only screen and (min-width: 740px){
    .carousel-indicators{
        bottom: 80px;
    }
} 
@media only screen and (min-width: 778px){
    .carousel-indicators{
        bottom: 120px;
    }
} 
@media only screen and (min-width: 843px){
    .carousel-indicators{
        bottom: 180px;
    }
} 
@media only screen and (min-width: 928px){
    .carousel-indicators{
        bottom: 250px;
    }
} 
@media only screen and (min-width: 1047px){
    .carousel-indicators{
        bottom: 350px;
    }
} 
@media only screen and (min-width: 1182px){
    .carousel-indicators{
        bottom: 400px;
    }
} 
@media only screen and (min-width: 1257px){
    .carousel-indicators{
        bottom: 470px;
    }
} 




/* N E E D  W O R K   D O N E */
.needWorkDone{
    margin-top: 80px;
    margin-bottom: 120px;
    padding-top: 30px;
}
.needWorkDone h2{
    margin-bottom: 80px;
    letter-spacing: 3px;
    font-family: 'Vollkorn', serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.425);
}
.needWorkDone .iconBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 15vw;
    border-radius: 50% 50%;
    background-color: orange;
    margin: 0px auto 50px auto;
    overflow: hidden;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2), 0px 12px 20px 0px rgba(0,0,0,0.19);
}
.needWorkDone .iconBox .fa{
    font-size: 7vw;
    color: white;
    text-shadow: 1px 2px 3px rgba(0,0,0,0.4);
}







/* Popular Services */

.popularServices{
    margin-top: 80px;
    margin-bottom: 120px;
} 
.popularServices .heading{
    letter-spacing: 3px;
    font-family: 'Vollkorn', serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.425);
}
.popularServices .card{
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2), 0px 12px 20px 0px rgba(0,0,0,0.19);
}



/* B A N N E R */

.Banner .part1 span{
    font-size: 50px;
    color: rgb(255, 166, 0);
    text-shadow: 1px 2px 2px rgba(31, 30, 30, 0.829);
}
.Banner .part2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Banner .part2 .imgContainer{
    width: 80%;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2), 0px 12px 20px 0px rgba(0,0,0,0.19);
}
.Banner .part2 .imgContainer img{
    width: 100%;
}

@media only screen and (max-width: 767px){
    .Banner .part1{
        text-align: center;
    }
    .Banner .part1 ul{
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }
}


/*  A L L   S E R V I C E S */

.mainServices{
    margin-top: 120px;
    margin-bottom: 120px;
    padding-top: 30px;
    padding-bottom: 30px;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(252, 185, 2, 0.589), rgba(224, 221, 6, 0.555), rgba(0,0,0,0.7)), url('img/carousel/LG-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.mainServices h2{
    letter-spacing: 3px;
    word-spacing: 5px;
    margin-top:50px;
    margin-bottom: 40px;
    font-family: 'Vollkorn', serif;
    text-shadow: 1px 1px 1px rgba(218, 214, 214, 0.596);
}
.mainServices .col-12{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.mainServices .col-12 .imgCard{
    width: 20vw;
    height: 23vw;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2), 0px 12px 20px 0px rgba(0,0,0,0.19);

}
.mainServices .col-12 .imgCard h4{
    position: absolute;
    bottom: 1.5vw;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Vollkorn', serif;
}
.mainServices .col-12 .imgCard .imgBox{
    width: 20vw;
    height: 16vw; 
    overflow: hidden;
}
.mainServices .col-12 .imgCard .imgBox img{
    width: 25vw;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.6s;
}
.mainServices .col-12 .imgCard .imgBox img:hover{
    transform: scale(2);
    cursor: pointer;
}
.allServButton{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (orientation: portrait){
    .mainServices .col-12 .imgCard{
        width: 40vw;
        height: 45vw;           
    }
    .mainServices .col-12 .imgCard h4{
        bottom: 2.5vw;
    }
    .mainServices .col-12 .imgCard .imgBox{
        width: 40vw;
        height: 32vw;
    }
    .mainServices .col-12 .imgCard .imgBox img{
        width: 50vw;
    }
} 